<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_actions do %>
  <li id="admin_new_slide_location_link">
    <%= button_link_to Spree.t(:new_slide_location), new_object_url, { :icon => 'plus', :id => 'admin_new_slide_location' } %>
  </li>
<% end if can?(:create, Spree::SlideLocation) %>

<% content_for :page_title do %>
  <%= Spree.t(:slide_locations) %>
<% end %>

<% if @slide_locations.any? %>
  <table class="index" id="listing_slide_locations" data-hook >
    <colgroup>
      <col style="width: 90%" />
      <col style="width: 10%" />
    </colgroup>
    <thead>
      <tr data-hook="admin_slide_location_index_header">
        <th><%= Spree.t(:name) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @slide_locations.each do |slide_location|%>
        <tr id="<%= spree_dom_id slide_location %>" data-hook="location_row" class="<%= cycle('odd', 'even')%>">
          <td class="align-center"><%= slide_location.name %></td>
          <td class="actions">
            <% if can?(:update, slide_location) %>
              <%= link_to_edit(slide_location, :class => 'admin_edit_slide_location', :no_text => true) %>
            <% end %>
            <% if can?(:destroy, slide_location) %>
              <%= link_to_delete(slide_location, :no_text => true) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/slide_location')) %>
    <% if can?(:create, Spree::SlideLocation) %>
      <%= link_to Spree.t(:add_one), spree.new_admin_slide_location_path %>!
    <% end %>
  </div>
<% end %>
