<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:editing_slide) %>
<% end %>

<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:back_to_sliders), admin_slide_location_slides_path(@slide_location), :icon => 'arrow-left' %></li>
  <% if can?(:create, Spree::Slide) %>
    <li id="admin_new_slide_link">
      <%= button_link_to Spree.t(:new_slide), new_admin_slide_location_slide_path(@slide_location), { :icon => 'plus', :id => 'admin_new_slide' } %>
    </li>
  <% end %>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @slide } %>

<%= form_for [:admin, @slide_location, @slide] , :html => { :multipart => true } do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <div class="clear"></div>
    <%= render :partial => 'spree/admin/shared/edit_resource_links', locals: { collection_url: admin_slide_location_slides_url(@slide_location) } %>
  </fieldset>
<% end %>